@import url('https://fonts.googleapis.com/css2?family=Anta&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Anta", sans-serif;
  
}
*{
    padding: 0;
    margin: 0;
    color:white;
    background-color: rgb(15, 15, 15);
    box-sizing: border-box;

}
#container{
    padding: 10px 10%;
}
nav .fa-solid{
    display: none;
}
#navxbar{
    display: none;
}

#imagecir{
    display: none;
}
#smallabout{
    display: none;
}
html{
    scroll-behavior: smooth;
}
    
#container{
    background-color: rgb(15, 15, 15);
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 10%;
    
}



#head{
    color: aliceblue;
    padding: 0;
    position:relative;
    bottom: 1vh;
    left: 2%;
    letter-spacing: 2px;
   
}

nav{
   
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    left: 10vh;
    top: 1vh;
}

nav ul li {
    background-color: transparent;
    display: inline-block;
    list-style: none;
    padding: 10px;
}
nav ul li a{
    background-color:rgb(15, 15, 15) ;
    color: rgb(148, 148, 148);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
ul li a:hover{
    color: white;
}

ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1vh;
    width: 0%;
    height: 0.3vh;
    background-color: rgb(113, 242, 231);
    transition: 0.5s;
}
ul li a:hover::after{
    width: 100%;
}

h2{
    color: rgb(148, 148, 148);
    background-color: transparent;
    position: absolute;
    top: -3vh;
    font-size:40px;
    left: -10vh;
    letter-spacing: 3px;
    }



#container2{
    width: 50%;
    position: relative;
    top: 30%;
    left: 10%;
    font-size: 30px;
}
#text{
    position: relative;
    
    left: 65%;
}

#image{
    position: relative;
    bottom: 320px;
    width: 325px;
    height: 500px;
    border-radius: 100px;
}

#icons{
    display: flex;
    gap: 60px;
    

}
button{
    border: none;
    background-color: transparent;
    
}
   
#linkedin,#insta,#twit{
    position: relative;
    left: 100%;
    bottom: -10vh;
    
}

i{
    color: rgb(219, 219, 219);
    font-size: 200%;

}
#line{
    border: none;
    border-radius: 200px;
    position: relative;
    left:65%;
    bottom: -4vh;
    height: 0.5%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}

#uiux{
    
    color: rgb(113, 242, 231);
}
p{
    margin-top: 2vh;
    text-align:justify;
    font-size: 20px;
}


.fa-linkedin:hover{
    
    cursor: pointer;
    color:rgb(113, 242, 231);
    transform: translateY(-3px);
}
.fa-instagram:hover{
    
    cursor: pointer;
    color:rgb(113, 242, 231);
    transform: translateY(-3px);
}
.fa-twitter:hover{
    
    cursor: pointer;
    color:rgb(113, 242, 231);
    transform: translateY(-3px);
}
/*About*/

#image1{
    position: relative;
    left: 10%;
    top: 35vh;
    width: 17%;
    height: 50%;
    border-radius: 20%;
}

#abouttext{
    display: inline;
    position: relative;
    font-size: 30px;
    left: 60%;
    bottom: 25vh;
    
}
#para1{
    position: relative;
    bottom: 25vh;
    left: 40%;
    width: 45%;

}


#skl{
    text-align: center; 
    position: relative;
    left: 40%;
    bottom: 20vh;
    width: 27vh;
    height: 35vh;
    background-color: rgba(0, 0, 0, 0.324);
    border-radius: 20px;
}
#cir{
    
    text-align: center;
    position: relative;
    left: 56.5%;
    bottom: 55vh;
    width: 27vh;
    height: 35vh;
    background-color:  rgba(0, 0, 0, 0.324);
    border-radius: 20px;
}
#edu{
    text-align: center;
    position: relative;
    left: 73%;
    bottom: 90vh;
    width: 27vh;
    height: 35vh;
    background-color: rgba(0, 0, 0, 0.324);
    border-radius: 20px;
}

#skl h4 ,#edu h4,#cir h4 {
    color: rgb(113, 242, 231);
    letter-spacing: 2px;
    padding: 0.5vh;
    margin-bottom: 1vh;
    position: relative;
    top: 3%;
    background-color: transparent;
    font-size: larger;
}

#skl i,#cir i,#edu i{
    color:rgb(113, 242, 231) ;
    font-size: 25px;
    margin-bottom: 2%;
    position: relative;
    top: 2%;
    background-color: transparent;
}


#skl p,#cir p,#edu p{
    position: relative;
    font-size: 12px;
    background-color: transparent;
    text-align:center;
    padding: 0px 10px 10px 10px;
}

#skl a,#cir a,#edu a{
    text-decoration: none;
    background-color: transparent;
    color:white;
}

#cir a{
 position: relative;
 top: 10%;
}
#edu a{
    position: relative;
    top: 5%;
}
#skl a:hover,#cir a:hover,#edu a:hover{
     color: rgb(113, 242, 231);
}

#container4{
    height: 100vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    
    bottom: 70vh;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}
.contact-left-title h5{
    font-weight: 600;
    font-size: 40px;
}
.contact-left-title hr{
    border: none;
    width: 12vh;
    height: 1vh;
    background-color: rgb(113, 242, 231);
    border-radius: 10px;
    margin-bottom: 5vh;
}
.contact-inputs{
    width: 60vh;
    height: 7vh;
    border: none;
    outline: none;
    padding-left: 5vh;
    font-weight: 500;
    color: gray;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.842);
}
.contact-left textarea{
    height: 30vh;
    padding-top: 3vh;
    border-radius: 20px
}
.contact-inputs:focus{
    border:2px solid rgb(109, 108, 108);
}
.contact-inputs::placeholder{
    color: rgba(110, 109, 109, 0.555);
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: rgba(85, 85, 85, 0.74);
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}
.contact-right img{
    width: 70vh;
    border-radius: 50px;
}

@media only screen and (max-width:1100px){
    #image{
        width: 280px;
        height: 420px;
        border-radius: 50px;

    }
    #line{
      top: 1vh;
    }
    #text{
        font-size: large;
    }
    
}
@media only screen and (max-width:950px){
    #image{
        width: 220px;
        height: 320px;
        border-radius: 50px;
        margin-top: 10%;
    }
    #linkedin,#insta,#twit{
        position: relative;
        left: 90%;
        bottom: -10vh;
        
    }
}
@media only screen and (max-width:750px){
    #image{
        width:190px;
        height: 280px;
        border-radius: 50px;
        margin-top: 10%;
        left: -20px;
    }
    #linkedin,#insta,#twit{
        position: relative;
        left: 85%;
        bottom: -10vh;
        
    }
}


@media only screen and (max-width:650px) {
    #image{
        display: none;
    }
    #imagecir{
        display: flex;
        position: relative;
        top: -56vh;
        left: 30%;
        width: 250px;
        height: 250px;
        z-index: 7;
    }
    #image1{
        display: none;
    }
    
    #text{
        text-align: center;
        bottom: -17vh;
        display: block;
        width: 150%;
        left: 15%;
    }
    #linkedin,#insta,#twit{
        position: relative;
        left: 55%;
        top: 32vh;
        
    }
    #icons{
        gap: 20%;
    }
    #line{
        top: 30vh;
        width: 100%;
        left:37%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #container3 #para1{
        left: 8%;
        margin-top: 50vh;
        width: 90%;
    }
    #container3{
        margin-top: 50vh;
    }
    #smallabout {
        width: 70%;
        z-index: 9;
        display:flex;
        position: relative;
        bottom: 20vh;
        left: 17%;
        gap: 10%;
        justify-content: center;
        align-items: center;
    }
    #smallabout a{
        text-decoration: none;
        font-size: medium;
        color:rgb(113, 242, 231) ;
    }
    #container4{
        margin-top: 50vh;
    }
    #abouttext{
        top: 20vh;
        left: 40%;
        width: 100%;
        z-index: 1;
    }
    #skl,#edu,#cir{
        display: none;
    }
    #container4{
        margin-top: 500px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
        background-color:transparent;
        color: rgb(255, 254, 254);
        
    }
    
    
    #container{
        position: relative;
    }
    nav ul{
        background-color: rgb(117, 117, 117);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        padding-top: 50px;
        z-index: 3;
        transition: right 0.5s;
    }
    nav ul li{
        background-color: transparent;
        display: block;
        margin: 25px;
    }
    nav ul li a{
        background-color: transparent;
        color: rgb(255, 255, 255);
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    #open{
        position: relative;
        right: 4vh;
        cursor: pointer;
        z-index: 2;
    }

    #head{
        display: inline;
        left: 10vh;
    }
    #container4{
        position: relative;
        left: 4%;
    }
    .contact-inputs{
        width: 50vh;
    }
    .contact-right{
        display: none;
    }
   
    
}

@media only screen and (max-width:1250px){
     #image1{
        width: 200px;
         height: 300px;
     }
}
@media only screen and (max-width:1200px){
    
    #skl{
        text-align: center; 
        position: relative;
        left: 40%;
        bottom: 20vh;
        width: 27vh;
        height: 35vh;
        background-color: rgba(118, 117, 117, 0.324);
        border-radius: 20px;
    }
    #cir{
        
        text-align: center;
        position: relative;
        left: 66%;
        bottom: 55vh;
        width: 27vh;
        height: 35vh;
        background-color:  rgba(118, 117, 117, 0.324);
        border-radius: 20px;
    }
   
    
    #edu{
        text-align: center;
        position: relative;
        left: 53%;
        bottom: 50vh;
        width: 27vh;
        height: 35vh;
        background-color: rgba(118, 117, 117, 0.324);
        border-radius: 20px;
    }
    #container4{
        margin-top: 20%;
    }
       
}
@media only screen and (max-width:990px){
    #container4{
        position: relative;
        left: 4%;
    }
    .contact-inputs{
        width: 70vh;
    }
    .contact-right{
        display: none;
    }
}
@media only screen and (max-width:790px){
    #para1{
        width: 58%;
        right: 5%;
    }
    #image1{
       left: 5vh;
    }
    #container4{
       margin-top: 25%;
    }
    #skl{
        text-align: center; 
        position: relative;
        left: 37%;
        bottom: 20vh;
        width: 27vh;
        height: 35vh;
        background-color: rgba(118, 117, 117, 0.324);
        border-radius: 20px;
    }
    #cir{
        
        text-align: center;
        position: relative;
        left: 68%;
        bottom: 55vh;
        width: 27vh;
        height: 35vh;
        background-color:  rgba(118, 117, 117, 0.324);
        border-radius: 20px;
    }
}
@media only screen and (max-width:500px){
    #container4{
        margin-top: 70vh;

    }
    .contact-inputs{
        width: 50vh;
    }
}
@media only screen and (max-width:427px){
    #container4{
        width: 50vh;
    }
    #text{
        width: 150%;
    }
}